.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev{
    color: white !important;
    background-color: black !important;
    width: 6rem !important;
    left: 0rem !important;
    padding: 3rem !important;
  }

  .swiper-button-next{
    color: white !important;
    background-color: black !important;
    width: 6rem !important;
    right: 0rem !important;
    padding: 3rem !important;
  }


  .swiper-button-prev::after,
  .swiper-button-next::after{
    font-size: 1.5rem !important;
  }